@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-dark: #121212;
  --color-brand-gold: #b58455;
  --color-brand-teal: #4db8b8;
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  color: #ffffff;
}
